
.image-table{
    width:  40%;;
    height: 100px;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3F51B5;;
    color: white;
}

.danger-btn{
    height: 26px;
    background-color: #e42e2e;
    cursor: pointer;
    color: white;
     /* border-color: #5858f3; */
    border: none;
}