.text{
    width: 50%;
    margin: auto;
  }
  
  .text input{
    height: 30px;
    width: 70%;
    margin: 10px;
    
  }
  .text button{
    height: 30px;
    background-color: rgb(85, 85, 235);
    margin-left: 10px;
    width: 50px;
  }
  .text button:hover{
    background-color: rgb(62, 62, 242);
    border: 2px solid rgb(62, 62, 242);
    cursor: pointer;
  }
  .theList li{
    color: #333;
    background-color: rgba(255, 255, 255, .5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 70%;
    list-style: none;
  }
  .theList li:hover{
    background-color: rgb(182, 17, 17);
    color: rgb(235, 231, 225);
    cursor: pointer;
  }
  
  ul.theList{
    padding: 0;
  }
  