.MuiTabs-flexContainer-112 {
    display: inline-block !important;
    
}

.MuiGrid-spacing-xs-16-162 {
    width: calc(100% + 16px);
    margin: 15px !important;
}
.MuiTab-textColorPrimary-358 {

    color: white !important;

}

.MuiGrid-spacing-xs-16-167 {
    width: calc(100% + 16px);
    margin: 16px !important;
}

.category-container{
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.category-image-container{
    width: 250px;
    height: 350px;
    margin-top: 40px;
    border-radius: 6px;
    position: relative;
    box-shadow: 5px 3px 8px #181717;
}
.category-image-container:hover .overlay{
    box-shadow: 2px 1px #9a9595;
    transition: .2s;
    opacity: 1;
}
.movietab-loading{
    width: '10%';
    position: 'absolute';
    margin-top: '7%';
    margin-left: '45%';
    align-items: "center";
  }



.category-image-container:hover{
    box-shadow: none;
    transition: .2s;
}

.category-image{
width: 100%;
height: 100%;
border-radius: 5px;
}
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 83%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }


.example1 {
    height: 30px;	
    overflow: hidden;
    position: relative;
    color: black;
    padding-top: 72px;
    border-bottom: 1px solid #2db1ef;
    width: 80%;
    margin: auto;
    font-size: 6px;
   }
   .example1 h3 {
    font-size: 3em;
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: example1 15s linear infinite;
    -webkit-animation: example1 15s linear infinite;
    animation: example1 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes example1 {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }

   @media screen and (max-width: 380px){
    
    .movietab-loading{
        position: absolute;
        left: 110px;
      }


      .category-container {
        height: auto;
        width: 100%;
        justify-content: space-around;
       flex-wrap: wrap;
    
    }
      .category-image-container {
    
        width: 150px;
        height: 210px;
        margin-top: 40px;
        border-radius: 6px;
        position: relative;
        box-shadow: 5px 3px 8px #9a9595;
        float: left;
        left: 10px;
        margin-right: 20px;
    
    }
    
    
    .overlay {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1; 
        width: 80%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
      }
    }