.search-input{
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
height: 30px;
width: 160px;
background-color: transparent;
text-align: center;
border: 2px solid #2db1ef;
margin-right: 2px;
color: black;
margin-right: 15px;
}

  .Search-result-container {
    position: absolute;
    width: 10%;
    max-height: 320px;
    /* overflow-y: auto; */
    /* background-color: #0f273d; */
    background-image: linear-gradient(to right, #049EE1, #312783 );
    border: 1px solid #049EE1 #0c2033;
    /* border: 1px solid #0c2033; */
    border-radius: 4px;
    box-shadow: 0px 0px 40px 0px#1f364d;
    margin-top: 10px;
    color: white;
    font-family: roboto;
  }

  .Search-result {
    color: #9cb3c9;
    padding: 15px 0 15px 35px;
    border-bottom: 2px solid #0c2033;
    cursor: pointer;
  }
  
  .Search-result:hover {
    color: #fff;
  }

  .Search-no-result {
    color: #9cb3c9;
    padding: 15px 0 15px 35px;
    border-bottom: 1px solid #0f273d;
  }

  .seach-result{
    width: 10%;
    position: relative;
    margin-top: 7%;
    margin-left: 45%;
    align-items: center;
    right: 750px;
    top: 423px;
}

/* .search-input:hover,
.search-input:focus{
    height: 30px;
width: 120px;
} */

@media screen and (max-width: 380px){
  .Search-result-container {
      position: absolute;
      width: 41%;
      max-height: 299px;
      overflow-y: auto;
      background-color: #0f273d;
      border: 1px solid #0c2033;
      border-radius: 4px;
      -webkit-box-shadow: 0px 0px 40px 0px #1f364d;
      box-shadow: 0px 0px 40px 0px #1f364d;
      margin-top: 10px;
  }
}