.signup-details{
    width: 96%;
    display: flex;
    flex-wrap: inherit;
    justify-content: center;
}
 .signup-alt{
    padding-bottom: 60px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
 }

.signup-btn{
   display: grid;
} 
.container:hover{
    box-shadow: '2px 0px 8px 3px #b7c3d3';
  }
  .facebook-signup{
    padding-top: 30px;
    font-family: Roboto;
    font-size: 36px;
  }
#icon{
    background-color: #0990d6;
    border: 1px solid #0990d6;
    border-radius: 22px;
    width: 25px;
    height: 25px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    color: white;
    padding-right: 7px;
}
.textField {
    margin-left: 10px !important;
    margin-right: 15px !important;
    width: 260px !important;
    margin-top: 40px !important;
  }

  .signup-container{
    display: 'flex';
    flex-wrap: 'wrap';
    justify-content: 'center';
    align-items: 'center';
    flex-direction: 'row';
    box-shadow: '2px 0px 8px 3px #b7c3d3';
    width: '60%';
    margin: 'auto';
    cursor: 'pointer';
    border-radius: '5px';
    background-color: 'white';
  }


  @media screen and (max-width: 380px){
    .signup-container {
    width: 94%;
    margin: auto;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 0px 8px 3px #b7c3d3;
    align-items: center;
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}

.textField {
    width: 260px !important;
    margin-top: 0px !important;
   
}
.form-container {
    padding-top: 10px;
    background-image: url(/static/media/login.4ddace0f.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 400px;
}
  }

@media screen and (max-width: 500px){
    .Signup-container-499 {
        width: 95% !important;
        margin: auto;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 2px 0px 8px 3px #b7c3d3;
        align-items: center;
        border-radius: 5px;
        flex-direction: row;
        justify-content: center;
        background-color: white;
    }
    .Signup-container-1 {
        width: 95% !important;
        margin: auto;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 2px 0px 8px 3px #b7c3d3;
        align-items: center;
        border-radius: 5px;
        flex-direction: row;
        justify-content: center;
        background-color: white;
    }

    .facebook-signup {
        padding-top: 0;
        font-family: Roboto;
        font-size: 15px;
    }

    .signup-details {
        width: 96% !important;
        display: flex;
        flex-wrap: inherit;
        justify-content: center;
    }

    .textField {
        width: 260px !important;
        margin-top: 10px;
        margin-left: 10px;
    }

    #icon {
        background-color: #0990d6;
        border: 1px solid #0990d6;
        border-radius: 22px;
        width: 11px;
        height: 7px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 15px;
        color: white;
        padding-right: 7px;
    }

    .textField {
        width: 260px !important;
        margin-top: 10px !important;
        margin-left: 10px;
        /* margin-right: 15px; */
    }
}