.watch-movie-container {
    width: 100%;
    background-color: black;
    border-radius: 4px;
    height: 693px;
    font-family: roboto;
    cursor: pointer;
}

.movie-video{
    height: 480px;
    margin-top: 125px;
    margin-left: 95px;
    width: 853px;
    margin: auto;
    padding-top: 120px;
    /* margin: auto;
    border-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15PX; */
}
.video-box{
    width: 100%
}


/* .watch-movie-card-col1{
    margin: auto;
    width: 292px;
    height: 185px;
    padding-top: 28px;
    margin-left: 280px;
} */

.watch-movie-card-col1 {
    margin: auto;
    width: 292px;
    height: 185px;
    padding-top: 28px;
    margin-left: 60px;
    margin-top: 125px;
}

@media screen and (max-width: 320px){
.watch-movie-container {
    width: 100%;
    background-color: black;
    border-radius: 4px;
    margin-top: 60px;
    height: 484px !important;
    font-family: roboto;
    margin-left: 0px !important;
    margin: auto;
    cursor: pointer;
}

.movie-video {
    width: 315px;
    margin: auto;
    padding-top: 65px;
 
}
.watch-movie-card-col1 {
    margin: auto;
    width: 270px;
    height: 185px;
    padding-top: 28px;
    margin-left: 25px !important;
}
}

@media screen and (max-width: 480px){
    .watch-movie-container {
        width: 100%;
        background-color: black;
        border-radius: 4px;
        margin-top: 60px;
        height: 315px;
        font-family: roboto;
        margin-left: 0px !important;
        margin: auto;
        cursor: pointer;
    }
    
    
    
    .watch-movie-card-col1 {
        margin: auto;
        width: 270px;
        height: 185px;
        padding-top: 28px;
        /* margin-left: 80px ; */
    }
    }

@media screen and (max-width: 320px){
.watch-movie-container {
    width: 100%;
    background-color: black;
    border-radius: 4px;
    margin-top: 60px;
    height: 484px !important;
    font-family: roboto;
    margin-left: 0px !important;
    margin: auto;
    cursor: pointer;
}

.movie-video {
    width: 315px;
    margin: auto;
    padding-top: 65px;
 
}
.watch-movie-card-col1 {
    margin: auto;
    width: 270px;
    height: 185px;
    padding-top: 28px;
    margin-left: 25px !important;
}
}

@media screen and (max-width: 480px){
    .watch-movie-container {
        width: 100%;
        background-color: black;
        border-radius: 4px;
        margin-top: 60px;
        height: 315px;
        font-family: roboto;
        margin-left: 0px !important;
        margin: auto;
        cursor: pointer;
    }
    
    
    
    .watch-movie-card-col1 {
        margin: auto;
        width: 270px;
        height: 185px;
        padding-top: 28px;
        /* margin-left: 80px ; */
    }
    }

@media screen and (max-width: 680px){
    .watch-movie-container {
        width: 100%;
        background-color: black;
        border-radius: 4px;
        margin-top: 60px;
        height: 315px;
        font-family: roboto;
        margin-left: 0px !important;
        margin: auto;
    }
    
    .watch-movie-card-col1 {
        margin: auto;
        width: 270px;
        height: 185px;
        padding-top: 28px;
        /* margin-left: 25px ; */
    }
 }


 @media screen and (max-width: 375px){
    .watch-movie-container {
        width: 100%;
        background-color: black;
        border-radius: 4px;
        margin-top: 60px;
        height: 484px !important;
        font-family: roboto;
        margin-left: 0px !important;
        margin: auto;
        cursor: pointer;
    }
    
    .movie-video {
        width: 315px;
        margin: auto;
        /* padding-top: 65px; */
     
    }
    .watch-movie-card-col1 {
        margin: auto;
        width: 270px;
        height: 185px;
        padding-top: 28px;
        margin-left: 25px !important;
    }
    }
    