.lib-icon{
    height: 45px;
    width: 45px;
    cursor: pointer;
    margin-right: 15px;
}

.lib-icon-image{
    width: 100%;
}



@media screen and (max-width: 320px){
.lib-icon {
    height: 45px;
    width: 38px;
    cursor: pointer;
    margin-right: -4px;
}
}