.homeicon{
    height: 20px;
    width: 22px;
    cursor: pointer;
    margin-right: 15px;
}

.home-icon-image{
    width: 100%;
}



@media screen and (max-width: 320px){
    .homeicon {
        height: 27px;
        width: 20px;
        cursor: pointer;
        margin-right: 4px;
    }

}