.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.home{
  /* background-image: url('./components/assets/movieimg.png'); */
  /* background-repeat: no-repeat; */
  /* background-size: 100%; */

  background-color: #0E0E0E;
}